In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
data=pd.read_csv("topimdb.csv")
data.head()

,ID,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BNmM4YT...,Hauru no ugoku shiro,2004,U,119 min,"Animation, Adventure, Family",8.2,When an unconfident young woman is cursed with...,80.0,Hayao Miyazaki,Chieko Baish么,Takuya Kimura,Tatsuya Gash没in,Akihiro Miwa,333915,"4,711,096"
1,1,https://m.media-amazon.com/images/M/MV5BYzE5Mj...,Deadpool,2016,R,108 min,"Action, Adventure, Comedy",8.0,A wisecracking mercenary gets experimented on ...,65.0,Tim Miller,Ryan Reynolds,Morena Baccarin,T.J. Miller,Ed Skrein,902669,"363,070,709"
2,2,https://m.media-amazon.com/images/M/MV5BMTEwNj...,Short Term 12,2013,R,96 min,Drama,8.0,A 20-something supervising staff member of a r...,82.0,Destin Daniel Cretton,Brie Larson,Frantz Turner,John Gallagher Jr.,Kaitlyn Dever,81770,"1,010,414"
3,3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,4,https://m.media-amazon.com/images/M/MV5BOTM5N2...,The Breakfast Club,1985,UA,97 min,"Comedy, Drama",7.8,Five high school students meet in Saturday det...,66.0,John Hughes,Emilio Estevez,Judd Nelson,Molly Ringwald,Ally Sheedy,357026,"45,875,171"

In [5]:
data.shape

(714, 17)

In [6]:
data.columns

Index(['ID', 'Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [7]:
data.isna().sum()

ID               0
Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [8]:
data.nunique()

ID               714
Poster_Link      714
Series_Title     714
Released_Year     83
Certificate       12
Runtime          118
Genre            172
IMDB_Rating       17
Overview         714
Meta_score        63
Director         402
Star1            472
Star2            599
Star3            626
Star4            671
No_of_Votes      714
Gross            710
dtype: int64

In [12]:
data.drop(columns=['ID','Poster_Link'],axis=1,inplace=True)

In [13]:
data.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [14]:
data.dtypes

Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [15]:
data.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   714.000000  714.000000  7.140000e+02
mean      7.937115   77.158263  3.561348e+05
std       0.293278   12.401144  3.539011e+05
min       7.600000   28.000000  2.522900e+04
25%       7.700000   70.000000  9.600975e+04
50%       7.900000   78.000000  2.366025e+05
75%       8.100000   86.000000  5.077922e+05
max       9.300000  100.000000  2.343110e+06